extends ./layout/layout.jade

block title
  title Contest

block content
  div.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore aliquid nemo enim, placeat, voluptatem nihil amet ex assumenda! Cumque placeat ex iure alias, fuga, nesciunt obcaecati rerum deserunt cupiditate reprehenderit.

block scripts
  script(src='scripts/main.js')
