extends ./layout/layout.jade

block title
  title Login

block header
  a.brand(href="/") Login

block content
  form.sign-in(action="/login" method="POST")
    div
      input(type="text", name="username", placeholder="username")
    div
      input(type="password", name="password", placeholder="password")
    input(type="submit", value="Sign in")
    .server-error

block scripts
  script(src='scripts/main.js')
