doctype html
html
  head
    title Editor
    link(rel="stylesheet", href="styles/styles.css")
  body
    .mui-appbar.mui--z1
      .mui-container-fluid
        table
          tbody
            tr.mui--appbar-height
              td
                a.app-brand(href="") Editor
              td.mui--text-right
                ul.mui-list--inline.mui--text-body2
                  li
                    a(href="#" class="js-run") Run
    .content.mui--appbar-top
      .mui-container-fluid
        .bar
          .editors
            #editorHtml
            .horizontal-divider
            #editorCss
          .vertical-divider
          .results
            iframe(
              frameborder="0",
              class="js-result",
              sandbox="allow-forms allow-same-origin")
    .footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js")
    script(src='scripts/lib/jquery.js')
    script(src='scripts/main.js')
